<div id="client_record_telecommunication">
        <h3>telecommunicatie</h3>
        <table class="table">
            <tbody>
                <tr id="mob_phone">
                    <th>mobiel</th>
                    <td>0612345678</td>
                </tr>
                <tr id="private_email">
                    <th>prive email</th>
                    <td>voornaam.achternaam@provider.com</td>
                  
                </tr>
                <tr id="www_twitter">
                    <th>twitter</th>
                    <td>url</td>
                  
                </tr>
                <tr id="telecom_preference_language">
                    <th>language</th>
                    <td>engels</td>
                </tr>
                <tr id="telecom_preference_mode">
                    <th>preferred</th>
                    <td>mobiele telefoon</td>
                </tr>
            </tbody>
        </table>
    </div>