/*@import "h5bp.css";*/
/*@import "bootstrap.css";*/
/*@import "bootstrap-responsive.css";*/

footer {
  margin-top: 14px;
  margin-bottom: 14px;
}

.nav-footer > li {
  float: left;
  padding-left: 10px;
  font-size: 13px;
}

td.edit {
  padding: 3px;
}

td.input > input {
  margin: 0px;
  width: 95%;
}
.well {
  margin-bottom: 0px;
  background-color: #f6f6f6; 
}


.listitems {
  background-color: #ffffff;
  padding: 0px;
  margin-top: 18px;
  height: 590px;
  overflow-x: hidden;
}
.listitems > .item {
  padding: 0px 0px;
  width: 99%;
  border: solid 1px lightgrey;
}

.listitems > .item:hover {
  border: 1px solid black;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-8 */ 
}



.smallfont {
  font-size: 85%;
}

.listitems .passphoto {
  margin:0px;
}
.listitems > .active, tr.active > td {
  border: 1px solid black;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-8 */ 
}
.listitems > .item:nth-child(even) {
  background-color: #f9f9f9; 
}
.scroll-area {
  min-height: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar {
  padding-bottom: 18px;
}

th:hover {
    cursor: move;
}

.navbar .nav {
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.appointment {
  border: 1px solid lightgrey;
  padding: 4px;
  margin: 4px 0px;
}

.btn-sidebar {
  margin-bottom: 9px;
}

.receipt {
  border: 1px solid lightgrey;
  padding: 0px 15px;
}

.offer {
  border: 1px solid lightgrey;
  padding: 0px 15px;
}

h3 {
  margin-bottom: 18px;
  line-height: 18px
}

h4 {
  font-size: 15px;
  color: grey;
  margin-bottom: 5px;
}

.accordion-body {
  padding: 0px 15px;
  font-size: 85%;
}

.pagination {
  margin-top: 0px;
}

.btn-group {

}

#sidebar-container {
  position: absolute;
  top: 42px;
  left: 0px;
  width: 10px;
  height:100%;
  margin-bottom: -42px;
  background: transparent;
}

#sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  z-index: 1000;
  display: block;
  float: left;
  width: 18px;
  padding: 20px;
  list-style: none;
  background-color: #ffffff;
  border: 2px solid whitesmoke;
  
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
          div
  transition:width 2s;
    -moz-transition:width 2s; /* Firefox 4 */
    -webkit-transition:width 2s; /* Safari and Chrome */
    -o-transition:width 2s; /* Opera */
}

#sidebar:hover {
  width: 300px;
}

.sidebar-pane-content {
  overflow-x:hidden;
  height: 640px;
}

.admin-pane h3 {
  text-align:right;
}

.admin-pane .data {
  padding: 15px 30px;
  border: 1px solid lightgrey;
}

#main > .mainPanel {
  display: none;
}

#main > .active {
  display: block;
}

.nav-tabs > li > a {
  font-size: 16px;
}

section {
  padding: 14px 20px 14px 20px;
  border: solid 2px whitesmoke;
   -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.tab-content > section {
  -webkit-border-top-left-radius: 0px;
     -moz-border-top-left-radius: 0px;
          border-top-left-radius: 0px;

  -webkit-border-top-right-radius: 0px;
     -moz-border-top-right-radius: 0px;
          border-top-right-radius: 0px;

  -webkit-border-bottom-left-radius: 8px;
     -moz-border-bottom-left-radius: 8px;
          border-bottom-left-radius: 8px;

  -webkit-border-bottom-right-radius: 8px;
     -moz-border-bottom-right-radius: 8px;
          border-bottom-right-radius: 8px;
}

.column > section {
  margin-top: 20px;
}

.column > section:first-child {
  margin-top: 0px;
}



.basicDetails .emphasised {
  font-size: 15px;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 4px;
}

.basicDetails .subdued {
  color: grey;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

/*reset p bottom-margin from bootstrap*/
.basicDetails p {
  margin-bottom: 0px;
}

.basicDetails {
  padding: 8px;
}

.nav {
  margin-bottom: 0px;
}

textarea {
  width: 97%;
  resize: none;
  border: none;
  line-height: 24px;
  /*font-size: 15px;*/
  margin-bottom: 14px;
  overflow: auto;

  background-image: -webkit-linear-gradient(left, white 0px, transparent 0px), -webkit-linear-gradient(right, white 0px, transparent 0px), -webkit-linear-gradient(white 22px, whitesmoke 23px, whitesmoke 24px, white 24px);
  background-image: -moz-linear-gradient(left, white 0px, transparent 0px), -moz-linear-gradient(right, white 0px, transparent 0px), -moz-linear-gradient(white 22px, whitesmoke 23px, whitesmoke 24px, white 24px);
  background-image: -ms-linear-gradient(left, white 0px, transparent 0px), -ms-linear-gradient(right, white 0px, transparent 0px), -ms-linear-gradient(white 22px, whitesmoke 23px, whitesmoke 24px, white 24px);
  background-image: -o-linear-gradient(left, white 0px, transparent 0px), -o-linear-gradient(right, white 0px, transparent 0px), -o-linear-gradient(white 22px, whitesmoke 23px, whitesmoke 24px, white 24px);background-image: -linear-gradient(left, white 0px, transparent 0px), -linear-gradient(right, white 0px, transparent 0px), -linear-gradient(white 22px, whitesmoke 23px, whitesmoke 24px, white 24px);

  background-size: 100% 100%, 100% 100%, 100% 24px;
}

.warning {
  border-color: red;
}

body {
  padding-top: 52px;
  padding-bottom: 24px;
}

li h4 {
  text-align: center;
}

.input-visible td {
    display: none;
}

.input {
    display: none;
}

.input-visible .input {
    display: table-cell;
    padding-top: 3px;
    padding-bottom: 3px;
}

.input-visible .block-toggle {

    display: table-cell;
}

img.passphotoSmall {
  padding: 2px;
  height: 102px;
  width: 74px;
}

img.passphotoLarge {
  padding: 0px;
  height: 230;
  width: 170;
}

th {
  width: 30%;
}

td {
  height: 18px;
}

input.error {
  color: #b94a48;
  border-color: #b94a48;
}

input.error:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}


