
<div id="navbar" class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">

            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <!-- Be sure to leave the brand out there if you want it shown -->
            <a class="brand" href="#">Dokter Frodo</a>
            <ul class="nav pull-right">
                <li class="active"><a href="records">dossiers</a></li>
                <li><a href="admin">administratie</a></li>
            </ul>

            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse">
            <!-- .nav, .navbar-search, .navbar-form, etc --> 
            </div>

        </div>
    </div>
</div>
<div id="record" class="container-fluid mainPanel active">         
    <div class="row-fluid">                        
        <div class="span4">
                <section id="client_record_personal"></section>
                <section id="client_record_medicals"></section>
                <section id="client_record_ices"></section>
                <section id="client_record_telecommunications"></section>
                <section id="client_record_addresses"></section>                                 
        </div>
        <div class="span8">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="client_record_panes">
                    <li class="active"><a href="#client_record_consults" data-toggle="tab">consults</a></li>
                    <li><a href="#client_record_treatments" data-toggle="tab">behandelingen</a></li>
                    <li><a href="#client_record_photos" data-toggle="tab">foto&#39;s</a></li>
                    <li><a href="#client_record_notes" data-toggle="tab">aantekeningen</a></li>
                    <li><a href="#client_record_offers" data-toggle="tab">offertes</a></li>
                    <li><a href="#client_record_receipts" data-toggle="tab">bonnen</a></li>        
                    <li><a href="#client_record_service" data-toggle="tab">service</a></li>
                    <li><a href="#client_record_log" data-toggle="tab">log</a></li>
                    <li><a href="#client_record_management" data-toggle="tab">beheer</a></li>
                </ul>
                <div class="tab-content">
                </div>
            </div>    
        </div>
    </div>
</div>
<div id="footer" class="container-fluid">
    <div class="row-fluid">
        <footer>
                <hr>
                <ul class="nav nav-footer pull-right">
                    <li><a href="/regelingen#voorwaarden">voorwaarden</a></li>
                    <li><a href="/regelingen#privacy">privacy</a></li>
                    <li><a href="/regelingen#ip">intellectueel eigendom</a></li>
                    <li><a href="/">over Remedy</a></li>
                    <li><a href="/helpdesk">helpdesk</a></li>
                    <li><a href="/contact">contact</a></li>
                </ul>
        </footer>
    </div>   
</div>
