<div id="client_record_medical">
        <h3>medische gegevens</h3>        
        <table class="table">
            <thead>
                <tr>
                    <th>type</th>
                    <th>beschrijving</th>
                    <th>start</th>
                    <th>stop</th>
                </tr>
            </thead>
            <tbody>
                <tr id="">
                    <td>gevoeligheid</td>
                    <td>lidocaine</td>
                    <td>actief</td>
                    <td>actief</td>
                </tr>
                <tr id="">
                    <td>allergie</td>
                    <td>antibiotica</td>
                    <td>actief</td>
                    <td>actief</td>
                </tr>
                <tr id="">
                    <td>zwangerschap</td>
                    <td></td>
                    <td>11-11-1111</td>
                    <td>11-18-1111</td> 
                </tr>
                <tr id="">
                    <td>intoxicatie</td>
                    <td>alcohol</td>
                    <td>actief</td>
                    <td>actief</td>
                </tr>
                <tr id="">
                    <td>cardiologie</td>
                    <td>hart</td>
                    <td>12-12-1212</td>
                    <td>12-12-1212</td>
                </tr>
                <tr id="">
                    <td>medicatie</td>
                    <td>paracetamol 3x daags</td>
                    <td>12121212fff</td>
                    <td>1213kkk1212</td>
                </tr>
                <tr id="">
                    <td>beperking</td>
                    <td>gehoor -70dB </td>
                    <td>geboorte</td>
                    <td>actief</td>
                </tr>
            </tbody>
        </table>
    </div>