<div id="client_record_person">
        <h3><%= initials %> <%= last_name%> ( <%= first_name %> )</h3>
        <div class="row-fluid">
            <div class="span5">
                <img class="passphoto" src="http://placehold.it/180x240">
            </div>
            <div class="span7">
                <table class="table">
                    <tbody>
                        <tr id="sex">
                            <th>geslacht</th>
                            <td><%= sex %></td>
                        </tr>
                        <tr id="age">
                            <th>leeftijd</th>
                            <td>function age in model </td>
                        </tr>
                        <tr id="date_of_birth">
                            <th>geboren</th>
                            <td><%= date_of_birth %></td>
                        </tr>
                        <tr id="id_number">
                            <th>bsn</th>
                            <td><%= id_number %></td>
                        </tr>
                        <tr id="id_document">
                            <th>legitimatie</th>
                            <td>link</td>
                        </tr>
                        <tr id="insurance_company">
                            <th>verzekeraar</th>
                            <td><%= insurance_company %></td>
                        </tr>
                        <tr id="insurance_number">
                            <th>polisnummer</th>
                            <td><%= insurance_number %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    