<script type="text/template" id="consultsTemplate">
    <div class="pull-right">
        <div class="btn-group">
            <button class="btn" id="add_consult"><i class="icon-plus"></button>
            <button class="btn" id="remove_consult"><i class="icon-minus"></button>
        </div>
    </div>
    <div id="consults"></div>
</script>
<script type="text/template" id="consultTemplate">
    <div class="consult">
        <div class="row-fluid">
            <div class="span6">
                <h4>anamnese</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <h5>onderzoek</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="span6">
                <h4>conclusie</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <h5>beleid</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="treatmentsTemplate">

</script>
<script type="text/template" id="notesTemplate">

</script>
<script type="text/template" id="photosTemplate">

</script>
<script type="text/template" id="offersTemplate">

</script>
<script type="text/template" id="receiptsTemplate">

</script>
<script type="text/template" id="serviceTemplate">

</script>
<script type="text/template" id="managementTemplate">

</script>
<script type="text/template" id="sidebarTemplate">

</script>
<script type="text/template" id="appointmentsTemplate">

</script>
<script type="text/template" id="queueItemTemplate">

</script>
<script type="text/template" id="searchItemTemplate">

</script>