<tr>
    <th><%=label%></th>
    <td><%=street%>&nbsp;<%=number%>&nbsp;<%=extension%></td>
    <td class="input">
        <input  type="text"
                value="<%=street%>" 
                data-key="street"
                data-model="<%=model%>">
        </input>
        <input  type="text"
                value="<%=number%>" 
                data-key="number"
                data-model="<%=model%>">
        </input>
        <input  type="text"
                value="<%=extension%>" 
                data-key="extension"
                data-model="<%=model%>">
        </input>
    </td>
</tr> 
<tr>
    <th>&nbsp;</th>
    <td><%=postalcode%>&nbsp;<%=city%></td>
    <td class="input">
        <input  type="text"
                value="<%=postalcode%>" 
                data-key="postalcode"
                data-model="<%=model%>">
        </input>
        <input  type="text"
                value="<%=city%>" 
                data-key="city"
                data-model="<%=model%>">
        </input>
    </td>
</tr>
<tr>
    <th>&nbsp;</th>
    <td><%=province%>&nbsp;<%=country%></td>
    <td class="input">
        <input  type="text"
                value="<%=province%>" 
                data-key="province"
                data-model="<%=model%>">
        </input>
        <input  type="text"
                value="<%=country%>" 
                data-key="country"
                data-model="<%=model%>">
        </input>
    </td>
</tr>