<div id="client_record_address">
        <h4>adressen</h4>
        <table class="table">
            <tbody>
                <tr id="address">
                    <th rowspan="3">thuis</th>
                    <td>en als ik een hele lange straatnaam nummer toevoeging</td>
                </tr>
                <tr id="address">
                    <td>1111 AA stadsnaam</td>
                </tr>
                <tr id="address">
                    <td>provincie landsnaam</td>
                </tr>
                <tr id="address">
                    <th rowspan="3">werk</th>
                    <td>straatnaam nummer toevoeging</td>
                </tr>
                <tr id="address">
                    <td>1111 AA stadsnaam</td>
                </tr>
                <tr id="address">
                    <td>provincie landsnaam</td>
                </tr>
            </tbody>
        </table>
    </div>