<h3><%= givenName %>&nbsp;<%= familyName %></h3>
<div class="row-fluid">
    <img class="passphotoLarge span6" src="assets/img/passphoto_large.jpg">
    <div class="span6">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <%= givenName %>
                    </td>
                    <td class="input">
                        <input  type="text"
                                value="<%= givenName %>"
                                data-key="givenName">
                        </input>
                    </td>
                </tr>
                <tr>
                    <td>
                       <%= familyName %>
                    </td>
                    <td class="input">
                        <input  type="text"
                                value="<%= familyName %>"
                                data-key="familyName">
                        </input>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= dob %> &nbsp;(<%= age %>)
                    </td>
                    <td class="input">
                        <input  type="text"
                                value="<%= dob %>"
                                data-key="dateOfBirth">
                        </input>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= phone %>
                    </td>
                    <td class="input">
                        <input  type="text"
                                value="<%= phone %>" 
                                data-key="phonePreferred">
                        </input>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= mail %>
                    </td>
                    <td class="input">
                        <input  type="text" 
                                value="<%= mail %>" 
                                data-key="emailPreferred">
                        </input>
                    </td>
                </tr>
                <tr>
                    <td class="block-toggle">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                    </td>
                </tr>
                <tr>
                    <td class="block-toggle">
                        <i class="icon-heart"></i>
                        <i class="icon-heart"></i>
                        <i class="icon-heart"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>  