<div id="ices">
        <h3>in case of emergency</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>voornaam</th>
                    <th>achternaam</th>
                    <th>relatie</th>
                    <th>telecom</th>
                </tr>
            </thead>
            <tbody>
                <tr id="ice_1">
                    <td>voornaam</td>
                    <td>achternaam</td>                    
                    <td>echtgenoot</td>          
                    <td>+3161234566</td>
                </tr>
            </tbody>
        </table>
    </div>