<h4>overige persoonsgegevens</h4>
<table class="table">
    <tbody></tbody>
</table>
<div class="btn-group dropup pull-right" id="add"> 
    <a  class="btn dropdown-toggle" 
        data-toggle="dropdown"
        data-target="#add">
        <i class="icon-plus"></i>
    </a>
    <ul class="dropdown-menu" id="addMenu">
        <li><h4>toevoegen</h4></li>
    </ul>
</div>
<div class="btn-group dropup pull-right" id="remove">    
    <a  class="btn dropdown-toggle"
        data-toggle="dropdown" 
        data-target="#remove">
        <i class="icon-minus"></i>
    </a>
    <ul class="dropdown-menu" id="removeMenu">
        <li><h4>verwijderen</h4></li>
</div>

