<div class="row-fluid">                        
    <div class="span4" id="left_column">                         
    </div>
    <div class="span8">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="client_record_panes">
                <li class="active"><a href="#client_record_consults" data-toggle="tab">consults</a></li>
                <li><a href="#client_record_treatments" data-toggle="tab">behandelingen</a></li>
                <li><a href="#client_record_photos" data-toggle="tab">foto&#39;s</a></li>
                <li><a href="#client_record_notes" data-toggle="tab">aantekeningen</a></li>
                <li><a href="#client_record_offers" data-toggle="tab">offertes</a></li>
                <li><a href="#client_record_receipts" data-toggle="tab">bonnen</a></li>        
                <li><a href="#client_record_service" data-toggle="tab">service</a></li>
                <li><a href="#client_record_log" data-toggle="tab">log</a></li>
                <li><a href="#client_record_management" data-toggle="tab">beheer</a></li>
            </ul>
            <div class="tab-content">
            </div>
        </div>    
    </div>
</div>