<div class="span4 column" id="left_column"></div>
<div class="span8 column">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="client_record_panes">
                <li class="active">
                    <a href="#consults" data-toggle="tab">
                        consults
                    </a>
                </li>
                <li>
                    <a href="#offers" data-toggle="tab">
                        offertes
                    </a>
                </li>
                <li>
                    <a href="#treatments" data-toggle="tab">
                        behandelingen
                    </a>
                </li>
                <li>
                    <a href="#photos" data-toggle="tab">
                        foto&#39;s
                    </a>
                </li>
                <li>
                    <a href="#medicalHistory" data-toggle="tab">
                        medische geschiedenis
                    </a>
                </li>       
                <li>
                    <a href="#service" data-toggle="tab">
                        service
                    </a>
                </li>
                <li>
                    <a href="#management" data-toggle="tab">
                        beheer
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="consults">
                    <div class="row-fluid">
                        <div class="span6">
                            <h4>anamnese</h4>
                            <textarea rows="10" cols="40"></textarea>
                        </div >
                        <div class="span6">
                            <h4>onderzoek</h4>
                            <textarea rows="10" cols="40"></textarea>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <h4>conclusie</h4>
                            <textarea rows="10" cols="40"></textarea>
                        </div>
                        <div class="span6">
                            <h4>beleid</h4>
                            <textarea rows="10" cols="40"></textarea>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="offers">
                    <p>offertes</p>
                </div>
                <div class="tab-pane" id="treatments">
                    <p>behandelingen</p>
                </div>
                <div class="tab-pane" id="photos">
                    <p>fotos</p>
                </div>
                <div class="tab-pane" id="medicalHistory">
                    <p>medische geschiedenis en waarschuwingen</p>
                </div>
                <div class="tab-pane" id="service">
                    <p>service</p>
                    <p>newsletter</p>
                    <p>drinks</p>
                    <p>promotions</p>
                </div>
                <div class="tab-pane" id="management">
                    <p>beheer</p>
                    <p>created, viewed, updated</p>
                    <p>flags, payments due</p>
                    <p>number of appointments missed, changed, no-shows</p>
                    <p>exporteren</p>
                    <p>toestemming om in te zien</p>
                    <p>toestemming om te delen met een ander systeem</p>
                    <p>log</p>
                </div>
            </div>
        </div>    
    </div>
