<div id="sidebar-container">
            <div class="" id="sidebar">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#records_queue" data-toggle="tab">tijdslijn</a></li>

                    <li><a href="#records_search" data-toggle="tab">zoek</a></li>
                    <li><a href="#records_new" data-toggle="tab">nieuw</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="records_queue">
                        <div class="sidebar-pane-header">
                            <div class="pagination">
                                <ul>
                                    <li><a href="#">«</a></li>
                                    <li><a href="">di 19 juni</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-pane-content listitems">
                            <div class="row-fluid item">
                                <div class="span5">
                                    <img class="passphoto" src="http://placehold.it/70x70">
                                </div>
                                <div class="span7">
                                    <p class="smallfont">type - start - stop<p>
                                    <p><strong>voornaam</strong></p>
                                    <p><strong>achternaam</strong><p>
                                    <p>doel beschrijving</p>
                                </div>
                            </div>
                            <div class="row-fluid item active">
                                <div class="span5">
                                    <img class="passphoto" src="http://placehold.it/70x70">
                                </div>
                                <div class="span7">
                                    <p class="smallfont">type - start - stop<p>
                                    <p><strong>voornaam</strong></p>
                                    <p><strong>achternaam</strong><p>
                                    <p>doel beschrijving</p>
                                </div>
                            </div>
                            <div class="row-fluid item">
                                <div class="span5">
                                    <img class="passphoto" src="http://placehold.it/70x70">
                                </div>
                                <div class="span7">
                                    <p class="smallfont">type - start - stop<p>
                                    <p><strong>voornaam</strong></p>
                                    <p><strong>achternaam</strong><p>
                                    <p>doel beschrijving</p>
                                </div>
                            </div>
                            <div class="row-fluid item">
                                <div class="span5">
                                    <img class="passphoto" src="http://placehold.it/70x70">
                                </div>
                                <div class="span7">
                                    <p class="smallfont">type - start - stop<p>
                                    <p><strong>voornaam</strong></p>
                                    <p><strong>achternaam</strong><p>
                                    <p>doel beschrijving</p>
                                </div>
                            </div>
                            <div class="row-fluid item">
                                <div class="span5">
                                    <img class="passphoto" src="http://placehold.it/70x70">
                                </div>
                                <div class="span7">
                                    <p class="smallfont">type - start - stop<p>
                                    <p><strong>voornaam</strong></p>
                                    <p><strong>achternaam</strong><p>
                                    <p>doel beschrijving</p>
                                </div>
                            </div>
                            <div class="row-fluid item">
                                <div class="span5">
                                    <img class="passphoto" src="http://placehold.it/70x70">
                                </div>
                                <div class="span7">
                                    <p class="smallfont">type - start - stop<p>
                                    <p><strong>voornaam</strong></p>
                                    <p><strong>achternaam</strong><p>
                                    <p>doel beschrijving</p>
                                </div>
                            </div>
                            <div class="row-fluid item">
                                <div class="span5">
                                    <img class="passphoto" src="http://placehold.it/70x70">
                                </div>
                                <div class="span7">
                                    <p class="smallfont">type - start - stop<p>
                                    <p><strong>voornaam</strong></p>
                                    <p><strong>achternaam</strong><p>
                                    <p>doel beschrijving</p>
                                </div>
                            </div>
                            <div class="row-fluid item">
                                <div class="span5">
                                    <img class="passphoto" src="http://placehold.it/70x70">
                                </div>
                                <div class="span7">
                                    <p class="smallfont">type - start - stop<p>
                                    <p><strong>voornaam</strong></p>
                                    <p><strong>achternaam</strong><p>
                                    <p>doel beschrijving</p>
                                </div>
                            </div>
                            <div class="row-fluid item">
                                <div class="span5">
                                    <img class="passphoto" src="http://placehold.it/70x70">
                                </div>
                                <div class="span7">
                                    <p class="smallfont">type - start - stop<p>
                                    <p><strong>voornaam</strong></p>
                                    <p><strong>achternaam</strong><p>
                                    <p>doel beschrijving</p>
                                </div>
                            </div>
                          
                            
                        </div>
                    </div>
                    <div class="tab-pane" id="records_search">
                        <input type="search" placeholder="filter op naam, telefoonnummer of geboortedatum" results="0" incremental="true" autofocus="">
                        <div class="listitems">
                            <div class="row-fluid item">
                                <div class="span5">
                                    <img class="passphoto" src="http://placehold.it/70x70">
                                </div>
                                <div class="span7">
                                    <p><strong>voornaam</strong></p>
                                    <p><strong>achternaam</strong><p>
                                    <p>telefoonummer</p>
                                    <p>geboortedatum</p>
                                </div>
                            </div>
                            <div class="row-fluid item">
                                <div class="span5">
                                    <img class="passphoto" src="http://placehold.it/70x70">
                                </div>
                                <div class="span7">
                                    <p><strong>voornaam</strong></p>
                                    <p><strong>achternaam</strong><p>
                                    <p>telefoonummer</p>
                                    <p>geboortedatum</p>
                                </div>
                            </div>
                            <div class="row-fluid item">
                                <div class="span5">
                                    <img class="passphoto" src="http://placehold.it/70x70">
                                </div>
                                <div class="span7">
                                    <p><strong>voornaam</strong></p>
                                    <p><strong>achternaam</strong><p>
                                    <p>telefoonummer</p>
                                    <p>geboortedatum</p>
                                </div>
                            </div>
                            <div class="row-fluid item">
                                <div class="span5">
                                    <img class="passphoto" src="http://placehold.it/70x70">
                                </div>
                                <div class="span7">
                                    <p><strong>voornaam</strong></p>
                                    <p><strong>achternaam</strong><p>
                                    <p>telefoonummer</p>
                                    <p>geboortedatum</p>
                                </div>
                            </div>
                            <div class="row-fluid item">
                                <div class="span5">
                                    <img class="passphoto" src="http://placehold.it/70x70">
                                </div>
                                <div class="span7">
                                    <p><strong>voornaam</strong></p>
                                    <p><strong>achternaam</strong><p>
                                    <p>telefoonummer</p>
                                    <p>geboortedatum</p>
                                </div>
                            </div>
                            <div class="row-fluid item">
                                <div class="span5">
                                    <img class="passphoto" src="http://placehold.it/70x70">
                                </div>
                                <div class="span7">
                                    <p><strong>voornaam</strong></p>
                                    <p><strong>achternaam</strong><p>
                                    <p>telefoonummer</p>
                                    <p>geboortedatum</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="records_new">
                        <a class="btn btn-sidebar" href="#">nieuw dossier</a>
                        <div class="listitems">
                            <div class="row-fluid item">
                                <div class="span5">
                                    <img class="passphoto" src="http://placehold.it/70x70">
                                </div>
                                <div class="span7">
                                    <p><strong>voornaam</strong></p>
                                    <p><strong>achternaam</strong><p>
                                    <p>telefoonummer</p>
                                    <p>geboortedatum</p>
                                </div>
                            </div>
                            <div class="row-fluid item">
                                <div class="span5">
                                    <img class="passphoto" src="http://placehold.it/70x70">
                                </div>
                                <div class="span7">
                                    <p><strong>voornaam</strong></p>
                                    <p><strong>achternaam</strong><p>
                                    <p>telefoonummer</p>
                                    <p>geboortedatum</p>
                                </div>
                            </div>
                            <div class="row-fluid item">
                                <div class="span5">
                                    <img class="passphoto" src="http://placehold.it/70x70">
                                </div>
                                <div class="span7">
                                    <p><strong>voornaam</strong></p>
                                    <p><strong>achternaam</strong><p>
                                    <p>telefoonummer</p>
                                    <p>geboortedatum</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
</div>