<div id="footer" class="container-fluid">
    <div class="row-fluid">
        <footer>
            <ul class="nav nav-footer pull-right">
                <li><a href="/#regelingen/voorwaarden">voorwaarden</a></li>
                <li><a href="/#regelingen/privacy">privacy</a></li>
                <li><a href="/#regelingen/ip">intellectueel eigendom</a></li>
                <li><a href="https://remedy.informatietuin.nl" data-bypass>Remedy</a></li>
            </ul>
        </footer>
    </div>   
</div>