<div class="navbar-inner">
    <div class="container-fluid">

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <!-- Be sure to leave the brand out there if you want it shown -->
        <a class="brand" href="#">Dokter Frodo</a>
        <ul class="nav">
            <li class="active"><a href="#">home</a></li>
            <li><a href="#records">dossiers</a></li>
            <li><a href="#register">kassa</a></li>
            <li><a href="#store">magazijn</a></li>
        </ul>
        <ul class="nav pull-right">
            <li><a href="#helpdesk">helpdesk</a></li>
            <li><a href="#">test gebruiker</a></li>
        </ul>


        <!-- Everything you want hidden at 940px or less, place within here -->
        <div class="nav-collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc --> 
        </div>

    </div>
</div>
